# /front-end/Admin/@yaireo
# /front-end/Admin/applewebkit
# /front-end/Admin/chrome
# /front-end/Admin/css
# /front-end/Admin/edge
# /front-end/Admin/icons
# /front-end/Admin/images
# /front-end/Admin/js
# /front-end/Admin/OPR
# /front-end/Admin/sidebar-img
# /front-end/Admin/Trident
# /front-end/Admin/vendor

# /front-end/Instructor/@yaireo

# /front-end/Student/@yaireo

bin/
obj/
.vs/
*.user
*.db